<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/osd.css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/js/openseadragon/openseadragon.min.js"/>
    </head>
    <body id="body">
        <header>
            <h1>Header</h1>
        </header>
        <div id="content"/>
        <footer>Footer</footer>
        <script src="resources/js/osdloader.js"/>
    </body>
</html>