<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/osd.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script src="https://code.jquery.com/jquery-1.11.2.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/js/openseadragon/openseadragon.min.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="mission.html">Mission</a>
                            </li>
                            <li>
                                <a href="staff.html">Staff</a>
                            </li>
                            <li>
                                <a href="partners.html">Partners</a>
                            </li>
                            <li>
                                <a href="contact.html">Points of Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="catalog.html">Catalog</a>
                    </li>
                    <li>
                        <a href="selections.html">Selections</a>
                    </li>
                    <li>
                        <a href="http://bluemountain.princeton.edu/bluemtn/cgi-bin/bluemtn">Archive</a>
                    </li>
                    <li>
                        <a href="news.html">News</a>
                    </li>
                    <li>
                        <a href="help.html">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1>Left Column</h1>
                </div>
                <div class="col-md-6" id="thing">
                    <h1>Middle Column</h1>
                    <div id="content" class="container"/>
                </div>
                <div class="col-md-3">
                    <h1>Right Column</h1>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://library.princeton.edu">
                            <img src="resources/images/pul-logo.png" alt="Sponsored by Princeton University Library"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.neh.gov">
                            <img src="resources/images/neh_logo_horizontal_rgb.jpg" alt="Sponsored by the National Endowment for the Humanities"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="resources/js/osdloader.js"/>
    </body>
</html>