/* Application styles could go here */
    
.listing {
    margin-left: 0;
    padding-left: 0;
}

.listing li {
    position: relative;
    list-style: none;
    clear: both;
    border-bottom: 1px dotted gray;
}

.listing li h3.title { 
    font-size: xx-large;
    padding-top: 12px;
    padding-bottom: 12px;

    }

.odd { background-color: silver; }