/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }


div.thumbnail{
    border:1px solid black;
    height: 300px;
}

.thumbnail img{

    height:180px;
}