/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }
footer {margin: 33px 10px 0 0;}


div.thumbnail{
    border:1px solid black;
    height: 350px;
}

.thumbnail img{

    height:180px;
}

.dl-horizontal dt{
    text-align: left;

    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 50%;
    
}

article.news h2 {
    font-size: medium;
    padding-top: 3em;
    }
    
article.news h3 {
    font-size: small;
    padding-left: 3em;
    color: gray;
}
    
article.news time {
    font-style: italic;
    font-size: small;
}

article.news p {
    padding-left: 3em;
}

.nl-title {
    margin-left:auto;
    margin-right:auto;    
    }
    
.itemTitle {
    }

.imprint { font-size:small; }

ol.selection-list li { padding: 20px;}

#constituents-table  td {
    font-size: x-small;
    }

.folioline {
    font-size: x-small;
    border-bottom-style: double; 
    border-top-style: solid;
    border-top-width: thin;
}

#magazine-title {
    text-align: center;
}

#msdesc dt, dd, th, td, p {
    font-size: x-small;
}

#msdesc h1, h2, h3, h4 {
    font-size: small;
}